name: Build Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    permissions:
      contents: write

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          default: true

      - name: Set version
        run: |
          pwsh Set-Version.ps1 ${{ github.ref_name }} ./Cargo.toml

      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build

      - name: Parse Semver
        id: parse-semver
        uses: madhead/semver-utils@v4.3.0
        with:
          version: ${{ github.ref_name }}

      - name: Check prerelease
        id: check-prerelease
        run: |
          pip3 install semver
          python3 -c "import semver; print('prerelease=true') if semver.Version.parse('${{ github.ref_name }}'.replace('v', '')).prerelease else print('prerelease=false')" >> $GITHUB_OUTPUT

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          name: Release ${{ github.ref_name }}
          prerelease: ${{ steps.check-prerelease.outputs.prerelease }}
          generate_release_notes: true

      - name: Cargo publish
        uses: actions-rs/cargo@v1
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CRATES_IO_TOKEN }}
        with:
          command: publish
          args: --allow-dirty --no-verify